
	<link rel="stylesheet" href="https://auth.lrcontent.com/v2/LoginRadiusV3.css" />

	<script src="https://auth.lrcontent.com/v2/LoginRadiusV3.js"></script>

	<script src="{{cdn '/assets/loginradius/assets/js/config.js'}}"></script>

	<script src="{{cdn '/assets/loginradius/assets/js/LoginRadiusInterface.js'}}"></script>

<!-- Uncomment this if you have done a user migration and want to update your migrated users with the Bigcommerce password
	NOTE: LoginRadiusMigHandler.js targets the V2 form markup and must be updated for V3 before use.
	<script src="{{cdn '/assets/loginradius/assets/js/LoginRadiusMigHandler.js'}}"></script>
	-->
