		
		<script type="text/html" id="loginradiuscustom_tmpl">
			<span class="lr-provider-label lr-sl-shaded-brick-button lr-flat-<#=Name.toLowerCase()#>"
				  onclick="return <#=ObjectName#>.util.openWindow('<#= Endpoint #>');"
				  title="Sign in with <#= Name #>" alt="Sign in with <#=Name#>">
				<span class="lr-sl-icon lr-sl-icon-<#=Name.toLowerCase()#>"></span>
				Sign in with <#=Name#>
			</span>
		</script>
				
		<div id="sociallogin-container" ></div>
		<div class="interfacecontainerdiv lr-sl-shaded-brick-frame lr-column" id="interfacecontainerdiv"> </div>
		
				
		<script>LoginRadiusBCUX.interface.definesocial();</script>