

<script>
	var logoutUrl="{{urls.auth.logout}}";
	LoginRadiusSSO.init(raasoption.appName,"",true);
	
	function lrSSOlogoutCallback()
	{
		LoginRadiusSSO.logout(function(){
			console.log("Session not found");	
			window.location=logoutUrl;
		});
	  
	}

	function lrSSOloggedInCallback()
	{
	 LoginRadiusSSO.login(function(token){
		
			var url = LoginRadius_Bigcommerce.util.getURL(token,raasoption.appName ,"",storeName);
			LoginRadius_Bigcommerce.util.jsonpCall(url,function(tokendata){
						
							if(tokendata.loginUrl!=null)
							{
								
								LoginRadius_Bigcommerce.util.sendusertosite(tokendata.loginUrl);
							}else{
								lrSSOlogoutCallback();
							}
						}); 
			});
		
	}
	
//{{#if customer}}
	window.onload = function() {
			LoginRadiusSSO.isNotLoginThenLogout(lrSSOlogoutCallback, function(){});
	};	
//{{else}}
	window.onload = function() {
			LoginRadiusSSO.isNotLoginThenLogout(function(){}, lrSSOloggedInCallback);
	};	
//{{/if}}
</script>


